[MUX]
MUX_27010=/dev/ttyspi3

[RIL_BASE]
IPC_GROUP_UNSOLICITED=/dev/pts2
IPC_GROUP_INITIALIZATION=/dev/pts1
IPC_GROUP_SIM=/dev/pts1
IPC_GROUP_STK=/dev/pts1
IPC_GROUP_CALL_CONTROL=/dev/pts1
IPC_GROUP_NETWORK=/dev/pts1
IPC_GROUP_SMS=/dev/pts1
IPC_GROUP_SS_USSD=/dev/pts1
IPC_GROUP_PHONEBOOK=/dev/pts1
IPC_GROUP_FACTORY_TEST=/dev/pts13
IPC_GROUP_ME_CONTROL_AND_STATUS=/dev/pts1
IPC_GROUP_DATACALL_CONTROL_1=/dev/pts1,1
IPC_GROUP_DATACALL_DATA_1=/dev/pts4,4
NET_DEV_NAME=vsnet%d

[VT_CHANNEL]
VT_CONTROL=/dev/pts5,5
VT_DATA=/dev/pts12,12

[AT_SERVICE]
IPC_GROUP_AT_SERVICE=/dev/pts3
